<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} -- {{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta charset="utf-8"/>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- common -->
    <link rel="shortcut icon" href="http://44ux.com/assets/common/favicon.png">
    <link href="http://44ux.com/assets/common/github.css?body=1" rel="stylesheet" type="text/css" media="all">
    <script type="text/javascript" src="http://44ux.com/lib/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="http://44ux.com/lib/jquery.ui.totop.js"></script>

    <!-- theme -->
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
</head>
<body>

</body>
</html>